{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <!-- Section: Design Block -->
  <section class="background-radial-gradient overflow-hidden">
    <style>
    .login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url(' static/img/login-bg.png ');
  background-size: cover;
  background-position: center center;
}
</style>
<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h2 class="display-4">SIGN-UP</h2>
                            <br>
              <form>
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <div class="form-group">
                    <label for="firstName">Firstname</label>
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    placeholder="Enter first name"
                  />
                </div>
      <p>   </p>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    name="email"
                    placeholder="Enter email"
                  />
                </div>
<p>   </p>
                <!-- Password input -->

                <div class="form-group">
                    <label for="password1">Password</label>
                  <input
                    type="password"
                    id="password1"
                    class="form-control"
                    name="password1"
                    placeholder="Enter password"
                  />
                </div>
                <p>   </p>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    id="password2"
                    name="password2"
                    placeholder="Confirm password"
                  />
                </div>
</br>
                <!-- Submit button -->
                <button type="submit" class="btn btn-dark">Sign up</button>
              </form>
            </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>
  </section>
  <!-- Section: Design Block -->
  {% endblock %}
</form>
